.choice {
    border: 1px solid #7575dd !important;
    background: #7575dd !important;
    color: black !important;
}

.choice:hover {
    background: white !important;
}

/* .choice:disabled{
    cursor:none;
    background:red;
    color:white;
} */

.correct {
    background: green !important;
}